/BTVN_Buoi2/nbproject/private/
/BTVN_Buoi2/build/
/BTVN_Buoi3/nbproject/private/
/BTVN_Buoi3/build/
/BTVN_Buoi4/nbproject/private/
/BTVN_Buoi4/build/
/BTT_Test/nbproject/private/
/BTT_Test/build/
/BTVN_Buoi6/nbproject/private/
/BTVN_Buoi5/nbproject/private/
/BTVN_Buoi5/build/
/BTVN_Buoi6/build/
/BTVN_Buoi7/nbproject/private/
/BTVN_Buoi7/build/
/Example_Interface/nbproject/private/
/BTVN_Buoi9/nbproject/private/
/BTVN_Buoi9/build/